.category-page{ padding: 8px; }

.list-wrapper{background-color: var(--bg-1); border:2px solid rgba(4, 40, 46, 0.12); border-radius:8px;}

.controls{ display:flex; align-items:center; gap:12px }
.action-row{ display:flex; gap:8px; align-items:center }

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
	display: none;
}

.tab-panel {padding: 1rem;
    background-color: var(--theme-3);
    border-radius: 1rem;
    margin: 1rem 2rem 1rem 2rem;}